<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="targetPlatforms" name="Target Platforms" schema="schema/targetPlatforms.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.macjariel.dsl.launching.DSLLaunchDelegate"
            id="org.macjariel.dsl.debugger.launchConfigurationType"
            modes="debug"
            name="DSL Debugger"
            public="true">
      </launchConfigurationType>
   </extension>
<extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.macjariel.dsl.internal.debug.core.breakpoints.DSLLineBreakpoint"
            id="org.macjariel.dsl.debug.core.DSLLineBreakpoint"
            markerType="org.macjariel.dsl.debug.core.dslLineBreakpointMarker"
            name="DSL Line Breakpoint">
      </breakpoint>
   </extension>
   <extension
         id="org.macjariel.dsl.debug.core.dslLineBreakpointMarker"
         name="DSL Line Breakpoints"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.debug.core.enabled">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.id">
      </attribute>
   </extension>
   <extension
    id="org.macjariel.dsl.debugger.gplCodeMarker"
    name="GPL Code Marker"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.problemmarker">
  </super>
</extension>
<extension
    id="org.macjariel.dsl.debugger.dslCodeMarker"
    name="DSL Code Marker"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.problemmarker">
  </super>
</extension>
   <extension
    id="org.macjariel.dsl.debugger.debugAnnotationMarker"
    name="Debug Annotation Marker"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.problemmarker">
  </super>
</extension>

</plugin>
